pom.xml
pom.xml.asc
log.txt
*.jar
*.class
package-lock.json
/out/
/node_modules
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

*~
*#
.#*

